body {
  background: url(./school-1325091.png) no-repeat center center fixed;
  -webkit-background-size: cover;
}

h2 {
  text-align: center;
  padding-top: 50px;
  color: white;
}

div {
  text-align: center;
  font-size: 24px;
  color: green;
  padding-bottom: 50px;
}

table {
  margin: 0 auto;
}

.scoreboard {
  position: 100px 75px 0px 0px;
}

.square {
  width: 125px;
  height: 125px;
  text-align: center;
  color: white;
  font-family: fantasy;
  font-weight: bold;
  font-size: 75px;
}

.button {
   margin: 0 auto;
}

#s1 {
  border: 2px solid white;
  border-color: white;
}

#s2 {
  border: 2px solid white;
  border-color: white;
}

#s3 {
  border: 2px solid white;
  border-color: white;
}

#s4 {
  border: 2px solid white;
  border-color: white;
}

#s5 {
  border: 2px solid white;
  border-color: white;
}

#s6 {
  border: 2px solid white;
  border-color: white;
}

#s7 {
  border: 2px solid white;
  border-color: white;
}

#s8 {
  border: 2px solid white;
  border-color: white;
}

#s9 {
  border: 2px solid white;
  border-color: white;
}
